/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-logo-color: #db00ff;
  --main-bg-color: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --main-text-color: #f1b2ce;
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --footer-logo-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);


}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
  }
}
